/* ===== Reset + Base ===== */
* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; scroll-behavior: smooth; overflow-x: hidden; }
body { display: flex; flex-direction: column; background-color: #f8f9fa; font-family: Arial, sans-serif; }
/* ===== MAIN LOGO ===== */
.logo { width:790px;height:90px; }
/* Footer */
footer { 
  position: relative; 
  z-index: 10; /* above moving image */

}
.navbar.small-footer { height: 40px; min-height: 40px; padding: 0 !important; }
.nav-link { font-size: 1rem; line-height: 40px; padding: 0 10px; color: white; }
.nav-link:hover { text-decoration: underline; }
.light-violet-bg { background-color: #8A2BE2 !important; }

/* ===== Responsive Fixes ===== */
@media (max-width: 576px) {
  .logo { max-width: 360px; }
  
}
.ispeaktop3{
    height:130px;
}